/****** Flashcards ******/

.flashcard-page {
    background: var(--pomodoro);
}

.flash-btns {
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

.flash-btns:hover {
    background-color: rgba(0, 0, 0 , 0.1);
}

.flashcards-container {
    width: 95%;
    margin: auto;
}

.flashcard-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--pomodoro);
}

.create-box {
    width: 380px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 0.5);
}

.create-box textarea {
    width: 100%;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 2px 4px rgba(0, 0, 0 , 0.5);
}

.create-box button {
    width: fit-content;
}

.flashcards_ {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.flashcard {
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0 , 0.5);
}

.flashcard h2 {
    font-size: 1rem;
}

/****** Media types and devices ******/

@media screen and (max-width: 550px) {
    .clock {
      font-size: 8rem;
    }
}

@media(max-width:768px) {
    .flashcard {
        margin: auto;
    }

    .flashcard {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width:480px) {
    .flashcard-nav {
        flex-direction: column;
        align-items: center;
    }

    .create-button {
        width: 100%;
    }

    .flashcard {
        width: 100%;
    }
}